.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .signup {
    background-color:rgb(191, 215, 216);
}
  
  .App-header {
    background-color: #3a5da5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .logo {
    height:120px;
    width: 220px;
    margin-top: 80px;
  }
  
  .signintext {
    margin-top: 70px;
    font-style: normal
  }
  
  .logininputs {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;

  }

  .card-body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

  }
  
  .emailinput {
    width: 25vw;
    height: 5vh;
    margin-bottom: 10px;
    /* margin-top: px; */
    border: solid 2px rgb(175, 152, 192)
  }
  
  .passwordinput {
    width: 25vw;
    height: 5vh;
    margin-bottom: 20px;
    border: solid 2px rgb(175, 152, 192)
  }

  .Button {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    /* border-radius: 50px; */
    transition: 0.5;
    color: #090a0a;
    border: 2px solid #444b50;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .Navbar {
    background-color: rgba(41, 3, 28, 0.555);
  }
  
  .card-body {
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/1393189.jpg");
    /* border: 5px solid black; */
    height: 630px;
  
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }